body { 
    background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); 
    font-family: 'Phudu', cursive;
    font-weight: bold;
     }
nav { 
   background: linear-gradient(to right, #45a247, #283c86); 
     }
  
  nav ul li {
display: inline;
margin: 15px; 

  }

  nav ul li a {color: #ddd; }
  
  nav li a:hover {
    background-color: #ddd;
  }
  
  
  #limited-offers {
    background-color: #D8D8D8;
  }
  
  #limited-offers h2 {
    color: #666;
  }
  
  .product {
    background-color: #F5F5F5;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 0px 5px #EAEAEA;
    margin-top: 30px;
  }
  
  .product h3 {
    color: #666;
  }
  
  .product p {
    color: #999;
  }
  
  button {
    background-color: #EAEAEA;
    color: #666;
    border: none;
  }
  
  button:hover {
    background-color: #666;
    color: #FFF;
  }
  
  footer {
   
    background: linear-gradient(to right, #45a247, #283c86); 
      }
  
    footer ul li {
        display: inline;
        margin: 15px; 
        
          }
    footer ul li a {color: #ddd; }
  
  
